#<%= current_page.title %>

#<%= current_page.date %>

#<%= current_page.tags %>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <p>
    <%= article.summary %>
  </p>
  <%= link_to 'Read more', article %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
















<div id="home" class="block">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
            logo
          </div>
      </div>
  </div>
</div>

<div id="posts" class="block">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <ul class="list-unstyled list-episodes">
          <% page_articles.each_with_index do |article, i| %>
            <li>
              <h3><%= link_to article.title, article %><small><%= I18n.localize(article.date, :format => "%B %e / %Y")  %></small></h3>
              <%= article.summary %>
              <p><i class="glyphicon glyphicon-download"></i> <a href="#">İndir</a> [ <%= article.metadata[:page]['size'] %> Mb ]</p>
            </li>
          <% end %>
        </ul>

        <% if paginate %>
          <% if next_page %>
            <p><%= link_to 'Next page', next_page %></p>
          <% end %>
        <% end %>

        <% if paginate && num_pages > 1 %>
          <p>Page <%= page_number %> of <%= num_pages %></p>
          <% if prev_page %>
            <p><%= link_to 'Previous page', prev_page %></p>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>




<ul class="list-unstyled list-episodes">
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <h3><%= link_to article.title, article, :target => "_self" %><small><%= I18n.localize(article.date, :format => "%B %e / %Y") %></small></h3>
      <%= article.summary %>
      <p><i class="glyphicon glyphicon-download"></i> <a href="#">İndir</a> [ <%= article.metadata[:page]['size'] %> Mb ]</p>
    </li>
  <% end %>
</ul>







<div id="post-detail">
  <h1><%= current_page.title %></h1>
  <h2><%= I18n.localize(current_page.date, :format => "%e %B %Y") %></h2>
  <%= yield %>
  <div id="tag-cloud">
    <% current_page.tags.each do |tag| %>
      <span class="badge"><%= tag %></span>
    <% end %>
  </div>
</div>



<% page_articles.each_with_index do |article, i| %>
  <p><%= link_to article.title, article %></p>
  <% article.tags.each do |tag| %>
    <%= link_to tag, tag_path(tag) %>
  <% end %>
<% end %>



// tag

<h1>Articles tagged '<%= tagname %>'</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>



// calendar

<h1>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>















///////////////////////////////

<div class="block block-main">
  <div class="container">
      <div class="row">

          <div class="col-xs-12 col-sm-4">
            <%= partial "partials/logo_part" %>

            <div id="archive-by-year">
              <h3>Arşiv</h3>
              <ul class="list-unstyled list-last-episodes">
              <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year), :target => "_self" %></li>
              <% end %>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-sm-offset-1">

            <h1>Developer&rsquo;lar için <strong>Türkçe</strong> podcast</h1>
            <p class="lead">
              <strong>Mayıs 2012</strong>&rsquo;den beri ara ara yayınına devam eden kendi meşrebinde bir podcast!
              Modern yazılım teknolojileri, popüler kütüphaneler, yazılım dilleri, konferanslar,
              iOS ve MacOS gibi konular içerir.
            </p>

            <h2>Bölümler</h2>
            <ul class="list-unstyled list-last-episodes">
              <% page_articles.each_with_index do |article, i| %>
              <li>
                <h4>
                  <%= link_to article.title, article, :target => "_self", :title => "Bölüm notları ve detaylar için tıklayın" %>
                  <small><%= I18n.localize(article.date, :format => "%B %e / %Y") %></small>
                </h4>
                <p><a class="btn btn-warning" href="<%= article.metadata[:page]['download'] %>"><i class="glyphicon glyphicon-download"></i> <%= article.metadata[:page]['size'] %></a></p>
                <p><%= article.summary %></p>
                <p>
                    <% article.tags.each do |tag| %>
                      <span class="badge"><%= link_to tag, tag_path(tag), :target => "_self" %></span>
                    <% end %>
                </p>
              </li>
              <% end %>
            </ul>

            <% if paginate && num_pages > 1 %>
              <ul class="pagination pagination-episodes">
                <li><a href="/" target="_self">Anasayfa</a></li>
                <% if prev_page %>
                  <li class="previous"><%= link_to '&larr;', prev_page, :target => "_self" %></li>
                <% else %>
                  <li class="previous disabled"><%= link_to '&larr;', "" %></li>
                <% end %>
              <%
                (1..num_pages).each do |n|
                  link_class = ""
                  p_link = "/"
                  p_link = "/page/#{n}/" if n > 1
                  link_class = "active" if n == page_number
                %>
                <li class="<%= link_class %>"><%= link_to n, p_link, :target => "_self" %></li>
              <% end %>
              <% if next_page %>
                <li class="next"><%= link_to '&rarr;', next_page, :target => "_self" %></li>
              <% else %>
                <li class="next disabled"><%= link_to '&rarr;', "" %></li>
              <% end %>
              </ul>
            <% end %>

          </div>

      </div>
  </div>
</div>
