<% wrap_layout :layout do %>

<div class="block block-main" id="episode-detail">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-4">
            <%= partial "partials/logo_part" %>

            <p>
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="devPod : <%= current_page.title %>" data-via="podcastmaster" data-lang="tr" data-size="large" data-hashtags="devpod">Tweet</a>
              <script>
                !function(d,s,id){
                  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                  if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                  fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
              </script>

            </p>

            <p>
              <% current_page.tags.each do |tag| %>
                <span class="badge"><%= link_to tag, tag_path(tag) %></span>
              <% end %>
            </p>
          </div>

          <div class="col-xs-12 col-sm-7 col-sm-offset-1">

            <ol class="breadcrumb">
              <li><a href="/" target="_self">Anasayfa</a></li>
              <li class="active"><%= current_page.title %></li>
            </ol>

            <h1><%= current_page.title %><small><%= I18n.localize(current_page.date, :format => "%e %B %Y, %A, saat %H:%M") %></small></h1>
            <p><a class="btn btn-warning" href="<%= current_page.metadata[:page]['download'] %>"><i class="glyphicon glyphicon-download"></i> <%= current_page.metadata[:page]['size'] %></a></p>

            <div id="markdown-content">
              <%= yield %>
            </div>

          </div>
      </div>
  </div>
</div>

<% end %>
