<% wrap_layout :layout do %>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                <%= partial "partials/logo_part" %>
                
                <%
                file_size = Filesize.from("#{current_page.metadata[:page]['length']} B").to_s("Mb")
                file_download = podtrack_url(current_page.metadata[:page]['download'])
                time_data = current_page.date.strftime('%Y-%m-%d %H:%M:%S')
                i18n_date = I18n.localize(current_page.date, :format => "%e %B %Y, %A, saat %H:%M")
                %>
                
                <div class="detail">
                    <h1><%= current_page.title %></h1>
                    <time datetime="<%= time_data %>"><%= i18n_date %></time>
                    
                    <p><%= link_to "#{icon "download"} İndir [ #{file_size} ]", file_download %></p>
                    
                    <div id="markdown-content">
                        <%= yield %>
                    </div>
                    
                    <h3>Etiketler</h3>
                    <div class="tags">
                        <% current_page.tags.each do |tag| %>
                            <%= link_to tag, tag_path(tag), :class => "label label-primary" %>
                        <% end %>
                    </div>
                </div>
                
                <%= partial "partials/disqus" %>
            </div>
        </div>
    </div>
</div>
<% end %>
