<%
HTML_TITLE = "Hello World..."
HTML_DESCRIPTION = "Description..."
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= HTML_TITLE %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= partial "partials/meta", :locals => {:meta_keywords => "keywords...", :meta_description => "description..."} %>
    <%= partial "partials/open_graph", :locals => { :html_title => HTML_TITLE, :html_description => HTML_DESCRIPTION } %>
    <%= partial "partials/icons" %>
    <%= partial "partials/html_shim" %>

    <base target="_blank">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application' %>
    <%= yield_content :css %>
  </head>
  <body>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'retina-0.0.2' %>
    <%= javascript_include_tag 'app' %>
    <%= yield_content :javascript %>
    <%= partial "partials/google_analytics", :locals => {:analytics_id => "YOUR_ID", :analytics_domain => "domain"} %>
  </body>
</html>
