<div id="email-subscription" style='text-align: center'>
                <h4>Aylık Bülten</h4>
                <p>devPod&rsquo;la ilgili her şey e-posta adresine gelsin mi?</p>
                <form action="//tumblr.us6.list-manage.com/subscribe/post?u=97dc390c1ceba026d06a28735&amp;id=87e7805800" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <p><input type="email" name="EMAIL"><input type="submit" value="Üye Ol" name="subscribe"></p>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_97dc390c1ceba026d06a28735_87e7805800" tabindex="-1" value=""></div>
                </form>
</div>

<p style="text-align:center; background:white; padding: 10px;">
                    <%= link_to icon("twitter-square", "3x"), "https://twitter.com/podcastmaster" %>
                    <%= link_to icon("facebook-square", "3x"), "https://www.facebook.com/devpod" %>
                    <%= link_to '<span class="icon-podcast icon-podcast-size"></span>', "http://bit.ly/devpod-itunes" %>
                    <%= link_to icon("youtube-square", "3x"), "https://www.youtube.com/playlist?list=PLTx0WGL4YMuSzEFvj_h1kEXKrgWDwQojT" %>
                    <%= link_to icon("rss-square", "3x"), "http://devpod.org/feed.xml" %>
                    <%= link_to icon("envelope-square", "3x"), "http://eepurl.com/NumbP" %>
                </p>

<footer>

    <a>&copy; 2012 - 2017</a>
    <%= link_to "Uğur &ldquo;vigo&rdquo; Özyılmazel", "http://ugur.ozyilmazel.com" %>
    <%= link_to icon("github-square"), "https://github.com/vigo/" %>
    <%= link_to "Üstün Özgür", "http://ustunozgur.com" %>
    <%= link_to icon("github-square"), "https://github.com/ustun/" %>
</footer>
