<div id="logo">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <% link_to '/', :title => "Ana Sayfa" do %>
                <%= tag :img, :src => "/public/images/devpod-logo.png", :alt => "devPod logo" %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="intro">
                <p>
                    <strong>Mayıs 2012</strong>&rsquo;den beri ara ara yayınına devam eden kendi meşrebinde bir podcast!
                    Modern yazılım teknolojileri, popüler kütüphaneler, yazılım dilleri, konferanslar, Linux,
                    Unix, iOS, MacOS, Python, Ruby, Git gibi konular içerir.
                </p>
                <p>
                    <%= link_to icon("twitter-square", "3x"), "https://twitter.com/podcastmaster" %>
                    <%= link_to icon("facebook-square", "3x"), "https://www.facebook.com/devpod" %>
                    <%= link_to '<span class="icon-podcast icon-podcast-size"></span>', "http://bit.ly/devpod-itunes" %>
                    <%= link_to icon("youtube-square", "3x"), "https://www.youtube.com/playlist?list=PLTx0WGL4YMuSzEFvj_h1kEXKrgWDwQojT" %>
                    <%= link_to icon("rss-square", "3x"), "http://devpod.org/feed.xml" %>
                    <%= link_to icon("envelope-square", "3x"), "http://eepurl.com/NumbP" %>
                </p>
            </div>
        </div>
    </div>
</div>
