<div id="logo">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <% link_to '/', :title => "Ana Sayfa" do %>
                <%= tag :img, :src => "/public/images/devpod-logo.png", :alt => "devPod logo" %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="intro">
                <p>
                    <strong>Mayıs 2012</strong>&rsquo;den beri ara ara yayınına devam eden kendi meşrebinde bir podcast!
                    Modern yazılım teknolojileri, popüler kütüphaneler, yazılım dilleri, konferanslar, Linux,
                    Unix, iOS, MacOS, Python, Ruby, Git gibi konular içerir.
                </p>
                <p>
                    <%= link_to icon("twitter-square", "3x"), "https://twitter.com/podcastmaster" %>
                    <%= link_to icon("facebook-square", "3x"), "https://www.facebook.com/devpod" %>
                    <%= link_to '<span class="icon-podcast icon-podcast-size"></span>', "http://bit.ly/devpod-itunes" %>
                    <%= link_to icon("rss-square", "3x"), "http://devpod.org/feed.xml" %>
                    <%= link_to icon("envelope-square", "3x"), "http://eepurl.com/NumbP" %>
                </p>
            </div>
            <div id="email-subscription">
                <h4>Aylık Bülten</h4>
                <p>devPod&rsquo;la ilgili herşey e-posta adresine gelsin ?</p>
                <form action="//tumblr.us6.list-manage.com/subscribe/post?u=97dc390c1ceba026d06a28735&amp;id=87e7805800" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <p><input type="email" name="EMAIL"><input type="submit" value="Üye Ol" name="subscribe"></p>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_97dc390c1ceba026d06a28735_87e7805800" tabindex="-1" value=""></div>
                </form>
            </div>
        </div>
    </div>
</div>
