<div id="logo">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <% link_to '/', :title => "Ana Sayfa" do %>
                <%= tag :img, :src => "/public/images/devpod-logo.png", :alt => "devPod logo" %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="intro">
                <p>
                    Yazılım geliştiricilere yönelik 2012'den beri yayınına devam eden
                    bir podcast!
</p>
                <p>
		    <a href="http://ugur.ozyilmazel.com">Uğur &ldquo;vigo&rdquo; Özyılmazel</a> ve <a href="http://ustunozgur.com">Üstün Özgür</a>
                    sunuculuğunda her ay önemli bir yazılım
                    geliştiriciyi davet ettiğimiz programda yazılım
                    sektörüne ait her konuya değiniyoruz.
		    </p>
                <p>
		    Modern yazılım teknolojileri,
                    yaygın kütüphaneler, yazılım dilleri,
                    ünlü yazılımcıların yaşam öyküleri, iş deneyimleri...
		</p>
		<p>Hepsi devpod'da!</p>

                <p>
		  devpod'a <a href="https://www.youtube.com/playlist?list=PLTx0WGL4YMuSzEFvj_h1kEXKrgWDwQojT">YouTube</a> ve <a href="http://bit.ly/devpod-itunes">iTunes</a> üzerinden abone olabilirsiniz.
                </p>
                <p style='display:none'>
                    <%= link_to icon("twitter-square", "3x"), "https://twitter.com/podcastmaster" %>
                    <%= link_to icon("facebook-square", "3x"), "https://www.facebook.com/devpod" %>
                    <%= link_to '<span class="icon-podcast icon-podcast-size"></span>', "http://bit.ly/devpod-itunes" %>
                    <%= link_to icon("youtube-square", "3x"), "https://www.youtube.com/playlist?list=PLTx0WGL4YMuSzEFvj_h1kEXKrgWDwQojT" %>
                    <%= link_to icon("rss-square", "3x"), "http://devpod.org/feed.xml" %>
                    <%= link_to icon("envelope-square", "3x"), "http://eepurl.com/NumbP" %>
                </p>
            </div>

        </div>
    </div>
</div>
